APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

MOLLIE_API_KEY=test_3RAxAtCZAZh5pZAjUcf6U89WH6DNVr

BANKING_INFORMATION="NL68 TRIO 0198 4197 83 t.n.v. Vereniging Anderwijs te Utrecht"
ADDRESS_INFORMATION="Vereniging Anderwijs\nT.a.v. de penningmeester\nPostbus 13228\n3507 LE Utrecht"
