language: php

php:
- 7.2

services:
- mysql

addons:
  ssh_known_hosts: ssh.pcextreme.nl

before_script:
- cp .env.travis .env
- mkdir -p bootstrap/cache
- composer self-update
- composer install --no-interaction
- php artisan key:generate
- php artisan migrate --seed

script:
- vendor/bin/phpunit

before_deploy:
- openssl aes-256-cbc -K $encrypted_2197a3ced061_key -iv $encrypted_2197a3ced061_iv
  -in deploy_rsa.enc -out /tmp/deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa
- chmod a+x deploy_prd.sh

deploy:
  provider: script
  skip_cleanup: true
  script: ./deploy_prd.sh
  on:
    branch: master

cache:
  directories:
  - vendor