.caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #999999;
  text-align: left;
  border-bottom: 1px solid #dddddd;
  font-size: 15px;
  font-weight: unset;
}

.comment-item .by {
  color: #999999;
  font-size: 13px;
  padding-left: 12px;
}
